<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if content_for? :nav_left %>
      <%= yield :nav_left %>
    <% else %>
      <%= render_left_side controller_name %>
    <% end %>
    <%= yield %>

  </body>
</html>
